<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionsDaoCsv" class="ru.otus.homework.dao.QuestionsDaoCsvImpl">
        <constructor-arg value="csv/arithmetic_ques1tions.csv"/>
    </bean>
    <bean id="questionsService" class="ru.otus.homework.service.QuestionsServiceImpl">
        <constructor-arg ref="questionsDaoCsv"/>
    </bean>
    <bean id="resultService" class="ru.otus.homework.service.ResultServiceImpl"/>
    <bean id="session" class="ru.otus.homework.model.Session"/>
    <bean id="testProcessingService" class="ru.otus.homework.service.TestProcessingServiceFreeAnswersImpl"/>

</beans>
